body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: auto;
    padding: 20px;
    line-height: 1.6;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    margin-top: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}
ul {
    padding-left: 20px;
}
